.certifications {
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px;
    position: absolute;
    bottom: -200px;
    z-index: 2;
    margin-top: 200px;
    margin-left: 100px;
}

.certifications h2 {
    margin: 0;
}

.certifications .carrousel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.certifications .carrousel img {
    object-fit: contain;
    width: 300px;
    margin: 10px 50px 10px 0px;
}

