.home {
    display: flex;
    flex-direction: row;
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    margin: 50px;
    border: 1px solid white;
    padding: 25px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.home .text-home {
    font-size: 3rem;
    color: white;
}

.home .text-home h2 {
    color: #ff6600;
;
}

.home img {
    object-fit: contain;
    width: 200px;
    border-radius: 9500px;
    padding: 70px;
}

