.navbar {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    width: 300px;
    min-height: 100vh;
    height: auto;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    height: auto;
}

.navbar ul li {
    margin: 20px 10px;
    font-size: 1.5rem
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    padding-left: 35px;
    position: relative;
}

.navbar ul li a.active {
    font-weight: bold;
    font-size: 2rem;
}

.navbar a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 10px;
    background-color: #ff6600;
    transition: width 0.3s ease;
}

.navbar ul li a.active::before {
    width: 30px;
}