html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 1vh;
    background: radial-gradient(circle, #0a0a0a, #0d1015, #061a3f, #0e1117);
    background-size: 400% 400%;
}
